* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(24, 24, 24);
  color: #ffffff;
  padding: 60px;
  height: 100vh;
}
#header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 30px;
  padding-right: 40px;
}
#header button {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: transparent 1px solid;
  font-size: large;
}
.taskName {
  width: 300px;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  border: transparent 1px solid;
}
.taskContainer {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0 40px;
}
.taskContainer > div {
  max-width: 400px;
  aspect-ratio: 400/800;
  width: 100%;
  background-color: rgb(19, 19, 19);
  border-radius: 15px;
  border: 2px rgb(39, 39, 39) solid;
  padding: 20px;
}
.taskcontainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 0 40px;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.title .count {
  margin-left: auto;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.svg img {
  width: 17px;
  height: 17px;
}
.svg {
  display: flex;
  gap: 15px;
}
.listItem {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(25, 25, 25);
  padding: 15px;
  border-radius: 10px;
  margin-top: 25px;
}
.listItem p {
  font-size: 15px;
}
.title p {
  color: rgb(42, 42, 42);
}
